/* AMB.HTML */
body.amb
  {
    background-image: url("../sources/img/assets/pm.jpg");
  }

/* MARTYR.HTML */
body#darkbg
  {
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
  }

#hello
  {
	background-color: #000000;
	margin: 10px auto 10px auto;
	width: 800px;
	border: 1px solid #ffffff;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 1em;
  }

#start
  {
    cursor: help;
  }
