body 
	{
	background-image: url("../sources/img/assets/bg1.png");
	font-family: "Comic Sans MS", "Comic Sans", sans-serif;
	}

div.main-page 
	{ 
	background-image: url("../sources/img/assets/bg2.png");
	margin: 10px auto 10px auto;
	width: 800px;
	border: 1px solid #231234;
	padding: 15px;
	background-color: #dfd3ee;
	text-align: center;
	border-radius: 1em;
	}

div.logo-container {
	background-image: linear-gradient(to bottom, #63DB67, #E9912A);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	gap: 10px;
}

div.tabs
	{ 
	background-color: #63db67;
	margin: 5px auto 5px auto;
	border: 1px solid #57892d;
	padding: 15px;
	text-align: left;
	border-radius: 4em;
	}

/* Blog Posts */

div.blog
	{
	background-color: #ffffff;
	margin: 5px auto 5px auto;
	width: 600px;
	border: 1px solid #231234;
	padding: 5px;
	text-align: left;
	border-radius: 1em;
	}
	
div.post
	{
	margin: 10px auto 10px auto;
	text-align: left;
	}
	
div.blog-head
	{
	display: flex;
	width: 100%;
	gap: 10px; 
	}
	
div.comment
	{
	background-color: #ffffff;
	margin: 5px auto 5px auto;
	border: 1px solid #a3a3a3;
	padding: 5px;
	text-align: left;
	border-radius: 0.5em;
	}