body.amb
  {
    background-image: url("../sources/img/assets/pm.jpg");
  }

body#darkbg
  {
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
  }

#hello
  {
    
  }

#start
  {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: help;
    height: 100vh;
    width: 100vh;
  }
