/* AMB.HTML */
body.amb
  {
    background-image: url("../sources/img/assets/pm.jpg");
  }

/* MARTYR.HTML */
body#darkbg
  {
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
  }

#hello
  {
    border: 1px dotted #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#start
  {
    cursor: help;
  }
